rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read: if true;
      allow write: if false;
      
      match /holiday-entitlement/{year} {
        allow read: if true;
        allow write: if false;      
	    }
    }

    match /requests/{requestId} {
      allow read: if true;
      allow write: if false;
    }

    match /rejected-leaves/{requestId} {
      allow read: if true;
      allow write: if false;
    }

    match /approved-leaves/{requestId} {
      allow read: if true;
      allow write: if false;
    }

    match /config/{configId} {
      allow read: if true;
      allow write: if false;
    }

    match /bank_holidays/{documentPath=**} {
      allow read: if true;
      allow write: if false;
    }

    match /bank_holiday_imported_years/{documentPath=**} {
      allow read: if true;
      allow write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}