.custom-scrollbar {
  scrollbar-width: 12px;
  scrollbar-color: var(--color-brand-green-600) var(--color-brand-green-100); /* thumb track */
}

.custom-scrollbar::-webkit-scrollbar {
  width: 12px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: var(--color-brand-green-100);
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: var(--color-brand-green-700);
  border-radius: 12px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-brand-green-800);
  cursor: pointer;
}
